#merch {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(250px, 30vw));
    gap: 2vh 2vw;
    padding: 2vh;
    margin-top: 1vh;

    justify-content: center;
}

.merchcard {
    background-color: hsla(70 0% 19.9% / 0.39);
    border-radius: 30px;
    padding: 20px;
    width: 25vw;
    height: auto;
    margin: 2px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;

    border-color: white;
    border-width: 2px;
    border-style: solid;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

.merchcard:hover {
    box-shadow: 1px 1px 20px 10px rgb(0, 0, 0);
    transition: box-shadow, scale 0.2s ease-in;
    scale: 1.02;
}

.merchcard img {
    width: 23vw;
    height: auto;
    border-radius: 20px;
}

.merchcard h1, h2{
    margin-top: 5px;
    margin-bottom: 3px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.color {
    border-radius: 100px;
    height: 25px;
    width: 25px;
    border: rgb(94, 94, 94) solid 2px;
    cursor: pointer;
}

#b {
    background-color: rgb(57, 71, 255);
}

#lb {
    background-color: hsl(184, 62%, 62%);
}

#r {
    background-color: hsl(0, 100%, 67%);
}

#y {
    background-color: hsl(48, 55%, 64%);
}