body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(circle at center, #313131 0%, #111111 65%, #000000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#topbar {
    background-color: hsla(0, 0%, 20%, 0.658);
    height: 20vh;
    position: sticky;
    top: 0;
    width: 100vw;
    border-bottom: white 2px solid;
    background: linear-gradient(to top, hsla(0, 0%, 20%, 0.788), hsla(0, 0%, 20%, 1));

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    z-index: 10;
}

#logo {
    display: inline-block;
    height: 19vh;
    width: auto;
    margin-left: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-right: 1vw;
}

#logo img {
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: white;
}

