body {
    background-image: radial-gradient(circle at center, #313131 0%, #111111 65%, #000000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#topbar {
    background-color: hsla(70 0% 19.9% / 0.39);
    height: 20vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

}

#logo {
    display: inline-block;
    height: 19vh;
    width: auto;
    margin-left: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-right: 1vw;

    

}