body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(circle at center, #313131 0%, #111111 65%, #000000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#topbar {
    background-color: hsla(70 0% 19.9% / 0.39);
    height: 20vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

}

#logo {
    display: inline-block;
    height: 19vh;
    width: auto;
    margin-left: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-right: 1vw;
}

#merch {
    display: grid;
    grid-auto-flow: row;
    gap: 2vh 2vw;
    padding: 2vh;
}

.merchcard {
    background-color: hsla(70 0% 19.9% / 0.39);
    border-radius: 30px;
    padding: 20px;
    width: 40vh;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    
    border-color: white;
    border-width: 2px;
    border-style: solid;
    box-shadow: 2px 2px 20px rgb(255, 0, 0);
}

a {
    text-decoration: none;
    color: white;
}

