body {
    background-image: radial-gradient(circle at center, #313131 0%, #111111 65%, #000000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#topbar {
    background-color: #222222;

    display: flexbox;

}